*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;

}

body{
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;

}

.audioContainer{
   font-size: 18px;
   text-transform: capitalize;
   margin-right: 2rem;
   padding: 0.8rem 1.6rem;
   border: none;
   border-radius: 5px;
   outline: none;
   cursor: pointer;
}

.audioContainer:active{
   transform: scale(0.98);
}